TZ=America/New_York
DEBUG=True
DEFAULT_FROM_EMAIL=example@example.com
SECRET_KEY=your-secret-key-here
ELEVEN_LABS_API_KEY=123
ELEVEN_LABS_VOICE_ID=
VITA_API_KEY=123
WEBPUSH_VAPID_EMAIL=
WEBPUSH_VAPID_PUBLIC_KEY=
WEBPUSH_VAPID_PRIVATE_KEY=