{% extends "base.html" %}
{% block content %}
    <div class="container py-4">
        <h1 class="h1">Contacts</h1>
        <form hx-get="{% url 'social:list_contacts' %}"
              hx-target="#search-results"
              hx-swap="outerHTML"
              hx-push-url="true"
              hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
              hx-indicator="#search-indicator"
              class="row">
            <div class="col-xs-12 col-md-6">
                <div class="form-floating mb-3">
                    <input value="{{ search }}"
                           type="search"
                           class="form-control"
                           id="search"
                           name="search"
                           placeholder="Search contacts...">
                    <label for="search">Search</label>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-floating">
                    <select class="form-select" name="group">
                        <option value>-------</option>
                        {% for group in groups %}
                            <option value="{{ group.pk }}"
                                    {% if group.pk == selected_group %}selected{% endif %}>{{ group.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelect">Group</label>
                </div>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="form-floating">
                    <select class="form-select" name="relationship_to_me">
                        <option value>-------</option>
                        {% for relationship_type, display in relationship_types %}
                            <option value="{{ relationship_type }}"
                                    {% if relationship_type == selected_relationship %}selected{% endif %}>
                                {{ display }}
                            </option>
                        {% endfor %}
                    </select>
                    <label for="floatingSelect">Relationship</label>
                </div>
            </div>
        </form>
        {% partialdef contacts inline %}
        <table id="search-results"
               class="table table-striped"
               hx-get="{% url 'social:list_contacts' %}?search={{ search|default:''|urlencode }}&group={{ selected_group|default:''|urlencode }}&relationship_to_me={{ selected_relationship|default:''|urlencode }}"
               hx-trigger="contactTouchpointLogged from:body"
               hx-swap="outerHTML">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Strength</th>
                    <th scope="col">Last Contact</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>
                            {{ contact.first_name }} {{ contact.last_name }}
                            {% if contact.nickname %}<span class="text-muted">({{ contact.nickname }})</span>{% endif %}
                        </td>
                        <td>
                            <div class="progress" role="progressbar">
                                <div class="progress-bar progress-bar-striped progress-bar-animated {% if contact.strength < 40 %}bg-danger{% elif contact.strength < 70 %}bg-warning{% else %}bg-success{% endif %}"
                                     style="width: {{ contact.strength }}%">{{ contact.strength }}%</div>
                            </div>
                        </td>
                        <td>{{ contact.last_contacted_at|default:"—" }}</td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-warning"
                               hx-post="{% url 'social:create_contact_task' contact.pk %}">Create Task</a>
                            <a class="btn btn-sm btn-success"
                               data-bs-toggle="modal"
                               data-bs-target="#log-contact-touchpoint-modal"
                               hx-target="#log-contact-touchpoint-modal"
                               hx-swap="innerHTML"
                               hx-get="{% url 'social:log_contact_touchpoint_modal' contact.pk %}">Log Contact</a>
                            <a href="#" class="btn btn-sm btn-outline-info">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endpartialdef %}
</div>
<div id="log-contact-touchpoint-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Loading...</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>
{% endblock content %}
